@media (max-width: 375px){
	
}

body {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

h2 {
	text-align: center;
	font-size: 50px;
	color:#F0AC5E;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
/*  background-color: #333333;*/
	display: flex;
	gap:50px;
	justify-content: center;
}

ul >li {
	background-color: #6E7DD2;
}

ul li a {
  display: block;
  color: #FFEBA8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #F0AC5E;
}

#skillbox {
	width:250px;
	display:flex;
	flex-wrap:wrap;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	
}

#LogoHold {
	text-align: center;
	padding:30px;
	
}

.logobox:hover{
	transform: translateY(-4px);
}

#textbox-aboutme{
	width:300px;
	display:flex;
	flex-wrap:wrap;
	color:#FFEBA8;
}

#wrapper {
	display:flex;
	justify-content: center;
}